@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-decoration-color: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.fundo {
  width: 100%;
}

body {
  background-image: url("./img/fundo.svg");
  background-color: #000000;
  filter: blur(80%);
  animation: mymove 10s linear infinite alternate;
}
@-webkit-keyframes mymove {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}
@keyframes mymove {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -100%;
  }
}

main {
  margin: 0 auto;
  color: white;
  font-size: 1.8rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

header {
  font-size: 1.5rem;
  margin-top: 2px;
  margin-left: 25%;
  position: fixed;
  z-index: 1000;
  color: white;
  backdrop-filter: blur(20px) saturate(163%);
  -webkit-backdrop-filter: blur(20px) saturate(163%);
  background-color: rgba(70, 16, 74, 0.52);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 50%;
  height: 1.5rem;
  padding: 15px;
}

header ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  list-style: none;
}
header ul li a {
  color: white;
  cursor: pointer;
}
header ul li a:hover {
  color: rgb(219, 4, 173);
}
header ul li {
  transition: 0.3s;
}
header ul li:hover {
  transform: scale(125%);
}

footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #200e1c;
  padding: 10px;
}

section {
  backdrop-filter: blur(20px) saturate(163%);
  -webkit-backdrop-filter: blur(20px) saturate(163%);
  background-color: rgba(70, 16, 74, 0.52);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 50px;
  width: 85%;
}

#inicio {
  width: 50%;
  font-size: 1.5rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:12px;
  align-items: center;
  margin-top: 8%;
  transition: 1s;
}

#inicio::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background-image: linear-gradient(45deg, rgba(223, 5, 223, 0.457), rgba(0, 0, 255, 0.457));
  animation: animate 3s linear infinite alternate;
}

@keyframes animate {
  from{
    filter: hue-rotate(0deg);
  }
  to{
    filter: hue-rotate(50deg)
  }
}

#inicio h1 {
  font-weight: 500;
  font-size: 2.5rem;
}
#inicio p{
  text-align: center;
}
#inicio:hover {
  box-shadow: 0px 0px 42px 12px #e101cb;
}

#sobre {
  display: flex;
  flex-direction: row;
 
}
#sobre div {
  width: 70%;
}
#sobre div p{
  margin-top: 15px;
}
#sobre img {
  margin: 0 auto;;
  width: 50%;
}

#sobre div h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.demonstrativo {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.demonstrativo1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgba(241, 65, 230, 0.913);
  border-radius: 15px;
}
.demonstrativo1::after{
  content: ">";

}
.demonstrativo1::before{
  content: "<";

}

.demonstrativo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: rgba(209, 7, 209, 0.884);
  border-radius: 15px;
}
.demonstrativo2::after{
  content: ">";

}
.demonstrativo2::before{
  content: "<";

}
.demonstrativo3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: rgba(134, 6, 81, 0.856);
  border-radius: 15px;
}

.demonstrativo3::after{
  content: ">";

}
.demonstrativo3::before{
  content: "<";

}











/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px rgb(183, 183, 183);
}

form {
  display: flex;
  flex-direction: column;
}

form input, textarea{
  color:white;
  width: 25%;
  height: 20px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #000000a4;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.121);
  background-color: rgba(255, 255, 255, 0);
}


.containerCheckbox {
  display: flex;
  flex-direction: row;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  box-shadow: 3px 3px 0px rgb(183, 183, 183);
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(
    45deg,
    rgb(219, 61, 214) 0%,
    rgb(239, 21, 126) 100%
  );
}

.container input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

#btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(165, 0, 102);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#btn:hover {
  background: #ff0285;
  box-shadow: 0 0 30px 5px #ff0285;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

#btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

#btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
