*
{   margin:0;
    padding: 0;
}


header{
    background-color:rgb(199, 213, 225);
    padding: 10px;

}

header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
